<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laravel</title>

    <!-- Fonts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <!-- CDN de Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- CDN de Vue.js 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app" class="container mt-3">

        <!-- Section Select Agents -->
        <div class="container bg-body-tertiary bg-r rounded-3">
            <h2 class="pb-2 border-bottom">Agentes</h2>

            <div class="row justify-content-center align-items-center">
                <div class="col-6">
                    <div v-for="agente in agents" :key="agente._id" class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" :value="agente" v-model="agentesSeleccionados"
                            id="flexCheckDefault">
                        <label class="form-check-label" :for="agente">{{ agente.rol }}</label>
                    </div>
                </div>
                <div class="col-3">
                    <button class="btn btn-success" @click=" editMode = !editMode">{{ editMode ? 'Cerrar' : 'Editar'}}</button>
                </div>
            </div>
        </div>
        <!-- End Section Select Agents -->

        <!-- Section Edit Agents -->
        <div class="row justify-content-center mt-3" v-if="editMode">
            <div class="col-lg-8">
                <div v-for="agent in agentesSeleccionados" :key="agent._id" class="row input-group mt-3 fs-8 fw-lighter">
                    <span class=" col-2 input-group-text">Prompt</span>
                    <textarea class=" col-6 form-control" rows="10" v-model="agent.prompt" aria-label="Prompt" style="font-size: 14px;"></textarea>
                    <button class="col-2 btn btn-warning rounded-end" type="button" @click="uploadSystemPrompt(agent)">Actualizar</button>
                    <div>{{ agent.description }}</div>
                </div>
            </div>
        </div>
        <!-- Section Edit Agents -->

        <!-- Upload Video -->
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mb-3">
                <div class="input-group input-group-lg mb-3">
                    <input type="file" class="form-control fs-4 rounded-start" aria-describedby="inputGroupFileAddon04"
                        aria-label="Subir archivo" @change="handleFileUpload">
                    <button class="btn btn-primary rounded-end fs-4" type="button" @click="uploadVideo">Generar Inferencia</button>
                </div>
                <p class="text-blue mt-3 text-center">{{ statusUpload }}</p>
            </div>
        </div>
        <!-- End upload Video -->


        <div class="row justify-content-center mt-3">
            <div class="col-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Transcripción:</h3>
                    <p class="card-text mt-3">{{transcription}}</p>
                </div>
            </div>

            <div class="col-5">
                <h3 class="card-title text-center">Inferencia:</h3>
                <div class="card" v-for="(inference, index) in inferencias" :key="index">
                    <div class="card-body">
                        <h5 class="card-title">Agente: {{ inference.agent }}</h5>
                        <p class="card-text">{{ inference.inference }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de alerta -->
        <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel">Advertencia</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body mx-auto ">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 text-danger"
                                style="width: 10rem; height: 10rem;" fill="red" viewBox="0 0 16 16" role="img"
                                aria-label="Warning:">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />

                            </svg>
                        </div>

                    </div>

                    <h3 class="mx-auto text-center">Seleccione un archivo de video para subir.</h3>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de progreso -->
        <div class="modal fade" id="modalProgress" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel">Tareas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <ul class="unstyled">
                                <li v-for="(task, index) in tasks" :key="index">
                                    <div v-if="task.status === 'waiting'">
                                        <div class="spinner-border text-primary spinner-border-sm"
                                            style="width: 1rem; height: 1rem;" role="status">
                                            <span class="sr-only"></span>
                                        </div>
                                        <!--{{ task.status }} - --> {{ task.name }} </div>
                                    <div v-else-if="task.status === 'success'">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green"
                                            class="bi bi-check-square-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97L7 10.293 5.21 8.5a1 1 0 0 0-1.414 1.415l2.5 2.5a1 1 0 0 0 1.415 0l6-6a1 1 0 0 0-1.415-1.415z" />
                                        </svg>
                                        <!--{{ task.status }} - --> {{ task.name }} </div>
                                    <div v-else-if="task.status === 'error'">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                            class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.854 4.646a.5.5 0 1 1-.708.708L8 7.207 5.854 5.854a.5.5 0 1 1 .708-.708L8 5.793l2.146-2.147a.5.5 0 0 1 .708 0z" />
                                        </svg>
                                        <!--{{ task.status }} - --> {{ task.name }} </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Fin modal de progreso -->
    </div>

    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    agents: [],
                    agentesSeleccionados: [],
                    videoFile: null,
                    editMode: false,
                    inferencias: [],
                    transcription: '',
                    tasks: [],
                    statusUpload: '',
                };
            },
            mounted() {
                this.getAgentes();
            },
            watch: {
                tasks: {
                    handler() {
                        this.checkTasksCompletion();
                    },
                    deep: true
                }
            },
            methods: {
                getAgentes() {
                    axios.get('http://127.0.0.1:8000/api/v1/agents')
                        .then(response => {
                            this.agents = response.data.agents;
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },
                uploadSystemPrompt(agent) {
                    axios.post('http://127.0.0.1:8000/api/v1/agent/edit', {
                        id: agent._id,
                        systemPrompt: agent.prompt
                    })
                        .then(response => {
                            console.log(response.data.message);
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },
                handleFileUpload(event) {
                    this.videoFile = event.target.files[0];
                },
                async uploadVideo() {
                    if (!this.videoFile) {
                        const alertModal = new bootstrap.Modal(document.getElementById('alertModal'));
                        alertModal.show();
                        return;
                    }
                    this.statusUpload = 'Subiendo video...';

                    const formData = new FormData();
                    formData.append('video', this.videoFile);

                    try {
                        this.tasks = [
                            { name: 'Subiendo video', status: 'waiting' },
                            { name: 'Generando transcripción', status: 'waiting' },
                            { name: 'Generando inferencias', status: 'waiting' }
                        ];

                        const response = await axios.post('http://127.0.0.1:8000/api/v1/upload', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        });

                        this.tasks[0].status = 'success';
                        this.statusUpload = 'Video subido con éxito. Generando transcripción e inferencias...';

                        const modalProgress = new bootstrap.Modal(document.getElementById('modalProgress'));
                        modalProgress.show();

                        this.getTranscripcion(response.data.videoId);
                    } catch (error) {
                        this.tasks[0].status = 'error';
                        this.statusUpload = 'Error al subir el video.';
                        console.error(error);
                    }
                },
                async getTranscripcion(videoId) {
                    try {
                        const response = await axios.get(`http://127.0.0.1:8000/api/v1/transcription/${videoId}`);

                        this.tasks[1].status = 'success';
                        this.transcription = response.data.transcription;

                        this.getInferencias(videoId);
                    } catch (error) {
                        this.tasks[1].status = 'error';
                        this.statusUpload = 'Error al generar la transcripción.';
                        console.error(error);
                    }
                },
                async getInferencias(videoId) {
                    try {
                        const response = await axios.get(`http://127.0.0.1:8000/api/v1/inferences/${videoId}`);

                        this.tasks[2].status = 'success';
                        this.inferencias = response.data.inferences;
                        this.statusUpload = 'Inferencias generadas con éxito.';
                    } catch (error) {
                        this.tasks[2].status = 'error';
                        this.statusUpload = 'Error al generar las inferencias.';
                        console.error(error);
                    }
                },
                checkTasksCompletion() {
                    const allTasksCompleted = this.tasks.every(task => task.status === 'success');
                    if (allTasksCompleted) {
                        const modalProgress = bootstrap.Modal.getInstance(document.getElementById('modalProgress'));
                        modalProgress.hide();
                    }
                }
            }
        }).mount('#app');
    </script>
</body>

</html>
